$color-base: #ffffff;
$color-first: #13293d;
$color-second: #c2dff0;
$color-third: #006494;
$color-fourth: #e8f1f2;

// $color-first: #222831;
// $color-second: #393e46;
// $color-third: #d65a31;
// $color-fourth: #eeeeee;

// $color-first: #444444;
// $color-second: #ff4057;
// $color-third: #75cac3;
// $color-fourth: #eaeaea;
