@import "colors";

.article {
  width: 100%;
  display: flex;
  flex-direction: column;

  &-image {
    height: 300px;
    background-image: url("cmone.png");
    background-size: cover;
  }

  &-separator {
    height: 50px;
    background: $color-third;
    transform: skewY(3deg);
    transform-origin: bottom right;
  }

  &-content {
    margin: 0 0.5rem 0.5rem;
  }

  &-title {
    margin-top: 0;
  }
}
