/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #e8f1f2;
  font-family: "IBM Plex Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  color: #13293d;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.columns {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 0 0.5rem;
}

.column {
  background-color: #ffffff;
  border: 1px solid #bcc8d4;
  flex-shrink: 0;
  flex-basis: 100%;
  margin-bottom: 0.5rem;
  min-height: 300px;
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.article {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.article-image {
  height: 300px;
  background-image: url("cmone.png");
  background-size: cover;
}

.article-separator {
  height: 50px;
  background: #006494;
  transform: skewY(3deg);
  transform-origin: bottom right;
}

.article-content {
  margin: 0 0.5rem 0.5rem;
}

.article-title {
  margin-top: 0;
}

strong {
  color: #e8f1f2;
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 1024px) {
  .columns {
    max-width: 1280px;
  }
  .column {
    flex-grow: 1;
    flex-basis: 0;
    margin: 0.5rem;
  }

  .column:first-child {
    margin-left: 0;
  }
  .column:last-child {
    margin-right: 0;
  }
}
