.shadow-1 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bg-base {
  background-color: $color-base;
  color: $color-first;
}

.bg-third {
  background-color: $color-third;
  color: $color-fourth;
}
