nav {
  position: absolute;
  top: 20px;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .menu {
    display: none;
  }

  .skew {
    display: inline-block;
    transform: skew(-15deg);
    border: 1px solid $color-first;
    margin-right: 1rem;
  }

  .menu-button {
    margin-left: 1rem;
    font-size: 1.1rem;
    background-color: $color-fourth;
  }

  .skew:hover {
    border: 1px solid $color-fourth;
    transition: all 300ms;
  }

  a {
    display: inline-block;
    color: $color-fourth;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5rem;
    transform: skew(15deg);
    transition: color 300ms;
    font-family: Arial, Helvetica, sans-serif;

    &:hover {
      color: $color-fourth;
    }
  }
}
@media only screen and (max-width: 1023px) {
  nav {
    position: fixed;
    background-color: $color-first;
    padding: 0.5rem 0;
    top: 0;

    .mondego-logo > h1 {
      padding: 0.25rem;
      font-size: 1rem;
    }
  }
}

@media only screen and (min-width: 1024px) {
  nav .menu-button {
    display: none;
  }

  nav {
    justify-content: flex-end;
  }

  nav .menu {
    display: inline;
  }
}
