@import "minireset";
@import "colors";
@import "fonts";
@import "layout";
@import "mods";
@import "navigation";
@import "elements";

html,
body {
  background-color: $color-fourth;
  font-family: $font-primary;
}

.header {
  min-height: 400px;
  height: 50vh;

  .background {
    height: 75%;
  }

  .top-wedge,
  .middle-wedge,
  .bottom-wedge {
    position: relative;
  }

  .top-wedge,
  .middle-wedge {
    transform: skewY(4deg);
    transform-origin: top right;
  }

  .middle-wedge,
  .bottom-wedge {
    transition: height 1s ease;
  }

  .top-wedge {
    background: $color-first;
    height: 50%;
    z-index: 15;
  }
  .middle-wedge {
    background: $color-second;
    height: 0;
    z-index: 10;
  }

  .bottom-wedge {
    background: $color-third;
    margin-top: -50vh;
    z-index: 5;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-size: cover;
  }

  .bottom-wedge > .slogan {
    position: absolute;
    bottom: 75px;
    font-weight: 300;
    font-size: 1.5rem;
    white-space: nowrap;
  }
}

.mondego-logo {
  display: inline-block;
  background-color: $color-fourth;
  transform: skew(-15deg);
  margin-right: 2rem;
  white-space: nowrap;
}

.mondego-logo > h1 {
  padding: 0.5rem;
  margin: 0 1rem;
  transform: skew(15deg);
  font-weight: 900;
  font-family: "BioRhyme", "Helvetica", "Arial", sans-serif;
}

@media only screen and (min-width: 480px) {
  .bottom-wedge > .slogan {
    font-size: 3rem;
  }
  .menu {
    display: block;
  }
}
