/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #e8f1f2;
  font-family: "IBM Plex Sans", sans-serif;
}

.grid {
  display: grid;
  grid-template-rows: min-content;
}

.relative {
  position: relative;
}

nav {
  position: absolute;
  top: 20px;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav .menu {
  display: none;
}

nav .skew {
  display: inline-block;
  transform: skew(-15deg);
  border: 1px solid #13293d;
  margin-right: 1rem;
}

nav .menu-button {
  margin-left: 1rem;
  font-size: 1.1rem;
  background-color: #e8f1f2;
}

nav .skew:hover {
  border: 1px solid #e8f1f2;
  transition: all 300ms;
}

nav a {
  display: inline-block;
  color: #e8f1f2;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem;
  transform: skew(15deg);
  transition: color 300ms;
  font-family: Arial, Helvetica, sans-serif;
}

nav a:hover {
  color: #e8f1f2;
}

.header {
  min-height: 400px;
  height: 50vh;
}

.header > .background {
  height: 75%;
}

.top-wedge {
  height: 50%;
  background: #13293d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: skewY(4deg);
  transform-origin: top right;
  z-index: 15;
}
.middle-wedge {
  height: 0%;
  background: rgb(194, 223, 240);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 10;
  transform: skewY(4deg);
  transform-origin: top right;
  transition: height 1s ease;
}

.bottom-wedge {
  margin-top: -50vh;
  z-index: 5;
  height: 0;
  width: 100%;
  background: #006494;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: height 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-size: cover;
}

.bottom-wedge > .slogan {
  position: absolute;
  bottom: 75px;
  font-weight: 300;
  font-size: 1.5rem;
  white-space: nowrap;
}

.mondego-logo {
  display: inline-block;
  background-color: #e8f1f2;
  transform: skew(-15deg);
  margin-right: 2rem;
  white-space: nowrap;
}

.mondego-logo > h1 {
  padding: 0.5rem;
  margin: 0 1rem;
  transform: skew(15deg);
  font-weight: 900;
  font-family: "BioRhyme", "Helvetica", "Arial", sans-serif;
}

.footer {
  background-color: #006494;
  color: #e8f1f2;
  display: flex;
  justify-content: center;
}

strong {
  color: #e8f1f2;
}

.section {
  background-color: white;
  margin-bottom: 1rem;
  min-height: 50vh;
  display: flex;
  justify-content: center;
}

.section .columns {
  margin: 5rem 0;
}

.section .column {
  border: none;
  box-shadow: none;
}

@media only screen and (min-width: 480px) {
  .bottom-wedge > .slogan {
    font-size: 3rem;
  }
  .menu {
    display: block;
  }
}

@media only screen and (min-width: 1024px) {
  nav .menu-button {
    display: none;
  }

  nav {
    justify-content: flex-end;
  }

  nav .menu {
    display: inline;
  }
}
